<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset = "UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="csrf-token" content="<%= csrfToken %>">
        <title>Learning Management System(LMS)</title>
        <script src = "https://cdn.tailwindcss.com"></script>
        <link href = './css/styles.css' rel="stylesheet">
        <script>
            var token = document.querySelector('meta[name="csrf-token"]').getAttribute("content");

            function updateTodo(id) {
                fetch(`/courses/${id}`,{
                    method: "put",
                    headers: {"Content-type" : "application/json"},
                    body: JSON.stringify({
                        "_csrf": token,
                        completed: Boolean,
                    })
                })
                .then((res) => {
                    if(res.ok){
                        window.location.reload();
                    }
                })
                .catch((err) => {
                    console.error(err);
                })
            }
            function deleteTodo(id){
                fetch(`/todos/${id}`, {
                    method: "delete",
                    headers: {"Content-Type": "application/json"},
                    body: JSON.stringify({
                        "_csrf": token
                    }),
                })

                .then((res) => {
                    if(res.ok){
                        window.location.reload();
                    }
                })
                .catch((err) => {console.error(err)});
            }
        </script>
    </head>
    <body>
        <div class="grid grid-cols-6">
            <div class="col-start-3 col-span-2" class = "Todo-list">
                <%- include('header.ejs') %>
                <a id="signout" href="/signout" class="bg-red-200 hover:bg-red-500 px-5 py-2 rounded font-medium mr-2 mb">
                    Signout
                </a>
                <form action="/todos" method="post">
                    <input type="hidden" name="_csrf" value = "<%= csrfToken %>">
                    <div class="flex gap-2 py-4">
                        <div class="flex-auto">
                            <input type="text" name= "title" required placeholder="What's next?" class="border border-grey-300 rounded text-gray-900 w-full p-2 text-sm" />
                        </div>
                        <div class="flex-auto">
                            <input type="date" name = "dueDate" required class="border border-grey-300 rounded text-gray-900 w-full p-2 text-sm leading-4">
                        </div>
                        <div class="flex-none">
                            <button type="submit" id = "Add" class="bg-green-400 hover:bg-green-600 text-white px-5 py-1.5 rounded font-medium mr-2 mb">Add</button>
                        </div>
                    </div>
                </form>         
                <div>
                    <%- include('courses.ejs', { title: "Title", data: "Welcome to LMS", id: "title"}) %>
                    <%- include('courses.ejs', { title: "", data:  , id: ""}) %>
                    <%- include('courses.ejs', { title: "Due Later", data: dueLater,id: "count-due-later"}) %>
                    <%- include('courses.ejs', { title: "Completed Items", data: Completed, id: "count-completed"}) %>
                    <%- include('notifications.ejs') %>
                </div>
            </div>
        </div>
    </body>
</html>